# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.log

# macOS
.DS_Store

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/dist/

# Database
*.db
*.sqlite

# Test
.pytest_cache/
.coverage
